h1,
h3 {
  color: black;
}
.mojafoto {
  width: 20%;
  border-color: whitesmoke;
  position: sticky;
  opacity: 0.8;
  border-radius: 4%;
}
h1 {
  padding-top: 5%;
  font-size: 45px;
}

h2 {
  text-align: center;
}
header {
  margin: 0;
  text-align: center;
  background-color: #9e3717;
}

.odkazy {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding-right: 7%;
  justify-content: space-between;
  padding-bottom: 3%;
  font-size: 20px;
}

nav {
  color: #282425;
}
body {
  background-color: whitesmoke;
  color: #282425;
}

.skusenosti,
.vzdelanie,
.jazyky {
  margin-top: 50px;
}

.tabulka {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: underline;
}

th,
td {
  padding-bottom: 7px;
  padding-right: 6px;
}

footer {
  background-color: #282425;
  color: whitesmoke;
  text-align: center;
  padding: 3%;
}
