h1,
h3 {
  color: black;
}
.mojafoto {
  width: 20%;
  opacity: 0.8;
  border-radius: 4%;
  position: relative;
  margin-top: 2%;
  margin-bottom: 5%;
  padding-bottom: 20px;
}
h1 {
  padding-top: 3%;
  font-size: 45px;
  font-weight: 200;
}

h2 {
  text-align: center;
}

header {
  margin: 0;
  text-align: center;
  background-color: #9e3717;
}

h2 {
  padding-top: 20px;
}

/*nefunguje
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
*/

.years {
  font-size: 20px;
  font-weight: bold;
}

.odkazy {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding-right: 0;
  justify-content: space-evenly;
  padding-bottom: 0;
}

button {
  font-size: 20px;
  border: none;
  background-color: #9e3717;
  text-decoration: none;
}

nav {
  padding-top: 2%;
}

.fa {
  color: #282425;
  text-decoration-line: none;
}

body {
  background-color: whitesmoke;
  color: #282425;
  font-family: "Lora", serif;
  font-family: "Raleway", sans-serif;
}

.skusenosti,
.vzdelanie,
.jazyky {
  margin-top: 50px;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}

.tabulka {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

th,
td {
  padding-bottom: 7px;
  padding-right: 6px;
}

footer {
  background-color: #282425;
  color: whitesmoke;
  text-align: center;
  padding: 3%;
}
